# Python byte-code
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/
*.whl

# Linting
.mypy_cache/
.import_linter_cache/

# Testing
.pytest_cache/

# IDEs
.idea
.vscode
.fleet
*.code-workspace
.vscode-settings.json

